body,ul,li,h2,a{
    padding: 0;
    margin: 0;
    font-family: Georgia;
    letter-spacing: 0px;
}
h1{
    font-size: 2em;
    font-weight: bold;
    color: brown;
}
header{
    position: fixed;
    background-color: #fff;
    text-align: center;
    padding: 25px;
    width: 100%;
    height: 50px;
    z-index: 1;
}
header h1{
    color: white;
    padding: 6px 12px;
    display:inline-block;
    height: 100%;

}
header h1 img{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 25%;
    height: 60%;

}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .welcome{
    position: absolute;
    color: white;
    padding: 30px;
    top: 20%;
}
.banner h2{
    font-size: 50px;
    font-weight: 500;
    color: white;
}
.banner h2 span{
    font-size: 1.3em;
    font-family: cursive;
}
nav{
    background-color: rgb(185, 180, 180);
    padding: 20px;
    position: sticky;
    top: 100px;
}
nav li{
    display: inline-block;
    width: 25%;
    font-size: 25px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav a{
    color: rgb(86, 83, 83);
    text-decoration: none;
}
nav .join{
    color: red;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 00px 40px;
    box-sizing: border-box;
}
article p{
    font-size: 20px;
    line-height: 1.5em;
    color: rgb(86, 83, 83);
}
.images{
    text-align: center;
    margin: 80px 0px;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 10px 5%;

}
.images li img{
    max-width: 100%;
    width: 800px;
    height: 250px;
}
section.join{
    text-align: center;
    background-color: beige;
    padding: 50px 20px;
    color: rgb(84, 80, 80);
}
.join h2{
    font-size: 30px;
    color: brown;
}
form input{
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 28px;
    border: 2px solid whitesmoke;
}
footer{
    text-align: center;
    background-color: orangered;
    padding: 20px;
    color: white;
    
}
/* pseudo classes */

nav li a:hover{
    text-decoration: underline;
    color: red;
    padding: 3px;
}
.images li:hover{
    position: relative;
    top: -10px;
}

form input:focus{
    border: 2px dashed red;
    outline: none;
}
form input:valid{
    border: 2px dashed green;
}
article p:first-letter{
    font-size: 2em;
}
p::selection{
    background-color: plum;
    color: white;
}
p::after{
    content: " ---->";
    color: red;
}

/* media queries */

@media screen and (max-width: 1200px){
    .banner .welcome h2{
        font-size: 40px;
    }
    nav li{
        font-size: 20px;
    }
}

@media screen and (max-width: 750px){
    .banner .welcome h2{
        font-size: 30px;
    }
    nav li{
        font-size: 15px;
    }
}

@media screen and (max-width: 700px){
    .banner .welcome{
        position: relative;
        font-size: 25px;
        background-color: orange;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome h2{
        font-size: 25px;
        color: white;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    .banner .welcome br{
        display: none;
    }
    
    .images li{
        width: 100%;
        display: block;
        margin: 20px auto;
    }
}
@media screen and (max-width: 620px){
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 10px 0px;
    }
    header{
        position: relative;
    }
    nav{
        /* position: relative; */
        top: 0px;
    }

    
}
    
